**MAESTRÍA EN INTELIGENCIA ARTIFICIAL APLICADA**

**Curso: TC4029 - Ciencia y analítica de datos**

Tecnológico de Monterrey

Prof Grettel Barceló Alonso

**Semana 2**
Pandas para el análisis de datos en Python

---

*   NOMBRE: Marvin Mariano Vargas Flores
*   MATRÍCULA: A01795202

---

En esta actividad usarás el archivo de datos `LaqnData.csv`. Cada fila de este conjunto de datos muestra un registro de medición, por hora, de uno de los siguientes cinco contaminantes del aire:

*   `NO` (óxido nítrico)
*   `NO2` (dióxido de nitrógeno)
*   `NOX` (óxidos nitrosos)
*   `PM10` (partículas suspendidas con un diámetro aerodinámico igual o menor a 10 micrómetros)
*   `PM2.5` (partículas suspendidas con un diámetro aerodinámico igual o menor a 2.5 micrómetros)

Los datos se recopilaron en una ubicación de Londres durante todo el año 2017.

**NOTA IMPORTANTE:** Asegúrate de responder *explícitamente* todos los cuestionamientos.

1.	Descarga el archivo: `LaqnData.csv` y guarda, en un dataframe (`air_df`), todos sus registros.
*   Observa la estructura y contenido del dataframe con los atributos y métodos estudiados (`shape`, `columns`, `head()`, `tail()`, `dtypes`)
*   Calcula el porcentaje de valores faltantes por columna.

In [1]:
import pandas as pd

In [2]:
air_df = pd.read_csv('LaqnData.csv')

air_df.head()

  Site Species   ReadingDateTime  Value   Units Provisional or Ratified
0  CT3      NO  01/01/2017 00:00    3.5  ug m-3                       R
1  CT3      NO  01/01/2017 01:00    3.6  ug m-3                       R
2  CT3      NO  01/01/2017 02:00    2.2  ug m-3                       R
3  CT3      NO  01/01/2017 03:00    2.1  ug m-3                       R
4  CT3      NO  01/01/2017 04:00    3.3  ug m-3                       R

In [3]:
air_df.shape

(43800, 6)

In [4]:
air_df.columns

Index(['Site', 'Species', 'ReadingDateTime', 'Value', 'Units',
       'Provisional or Ratified'],
      dtype='object')

In [5]:
air_df.tail()

      Site Species   ReadingDateTime  Value   Units Provisional or Ratified
43795  CT3   PM2.5  31/12/2017 19:00   -2.0  ug m-3                       R
43796  CT3   PM2.5  31/12/2017 20:00    6.0  ug m-3                       R
43797  CT3   PM2.5  31/12/2017 21:00    5.0  ug m-3                       R
43798  CT3   PM2.5  31/12/2017 22:00    5.0  ug m-3                       R
43799  CT3   PM2.5  31/12/2017 23:00    6.0  ug m-3                       R

In [6]:
air_df.dtypes

Site                        object
Species                     object
ReadingDateTime             object
Value                      float64
Units                       object
Provisional or Ratified     object
dtype: object

2.	Obtén la cantidad de valores únicos por columna (`nunique()`) para responder:


*   ¿Cuántas mediciones se hicieron?
*   ¿Cuántos contaminantes del aire (`Species`) se analizaron?
*   ¿Qué columnas no agregan ningún valor informativo porque el mismo valor en todo el conjunto de datos? Elimínalas del dataframe.
*   La columna `Units` tampoco posee valor informativo. Verifícalo con la función `unique()` y elimínala del dataframe.

In [15]:
n_total_records = air_df.index.nunique()
n_contaminantes = air_df['Species'].nunique()

print('Numero total de mediciones: ' + str(n_total_records))
print('Numero total de contaminantes: ' + str(n_contaminantes))

Numero total de mediciones: 43800
Numero total de contaminantes: 5

In [16]:
#Popping all the columns that have only one unique value
for column in air_df.columns:
    if air_df[column].nunique() == 1:
        air_df.pop(column)

In [11]:
units_elements = air_df['Units'].unique()
print(units_elements)

['ug m-3' 'ug m-3 as NO2' 'ug/m3']

In [12]:
air_df.pop('Units')

0        ug m-3
1        ug m-3
2        ug m-3
3        ug m-3
4        ug m-3
          ...
43795    ug m-3
43796    ug m-3
43797    ug m-3
43798    ug m-3
43799    ug m-3
Name: Units, Length: 43800, dtype: object

In [17]:
air_df.columns

Index(['Species', 'ReadingDateTime', 'Value'], dtype='object')

3.	Realiza el conteo de valores por categoría (`value_counts()`) para la columna `Species` y determina si las lecturas de cada contaminante coincide con el total de mediciones.

In [20]:
cont_values = air_df['Species'].value_counts()
print(cont_values)
total = 0
for value in cont_values:
    total += value

print(total)

NO2      8760
NOX      8760
NO       8760
PM10     8760
PM2.5    8760
Name: Species, dtype: int64
43800

4.	Utiliza la función `groupby()` para determinar el promedio del valor por contaminante.

In [24]:
air_df.groupby('Species').mean()

             Value
Species
NO       15.045115
NO2      38.010185
NOX      61.078661
PM10     22.551704
PM2.5    14.999831

5.	El conjunto de datos está en un formato largo. Aplique la función apropiada para cambiarlo al formato ancho (`ReadingDateTime` como índice y cada contaminante en una columna). Nombre el dataframe resultante como `pvt_df`.

In [58]:
pvt_df = pd.pivot_table(air_df,None,'ReadingDateTime','Species')

pvt_df.reset_index()

#pvt_df.head()

          ReadingDateTime Value
Species                      NO   NO2   NOX  PM10 PM2.5
0        01/01/2017 00:00   3.5  30.8  36.2  35.7   NaN
1        01/01/2017 01:00   3.6  31.5  37.0  28.5   NaN
2        01/01/2017 02:00   2.2  27.3  30.7  22.7   NaN
3        01/01/2017 03:00   2.1  23.5  26.8  20.5   NaN
4        01/01/2017 04:00   3.3  28.0  33.0  22.1   NaN
...                   ...   ...   ...   ...   ...   ...
8732     31/12/2017 19:00   0.7  17.5  18.5  16.3  -2.0
8733     31/12/2017 20:00   0.7  17.5  18.6  14.5   6.0
8734     31/12/2017 21:00   0.7  14.1  15.1   8.6   5.0
8735     31/12/2017 22:00   1.1  22.0  23.6  12.5   5.0
8736     31/12/2017 23:00   0.9  19.4  20.7  10.4   6.0

[8737 rows x 6 columns]

6.	A través de la función `describe()` responde:

*   ¿Cuál es el mayor valor de `NO2` registrado? ¿A qué día pertenece?
*   ¿Cuál es el menor valor de `PM10` registrado?¿A qué día pertenece?
*   ¿Cuál es la mediana del `NO`? ¿Cómo se interpreta?
*   ¿Cuál es el primer cuartil de `PM2.5`? ¿Qué significa?

In [57]:
max_no2 = pvt_df.describe()
print(max_no2)

               Value
Species           NO          NO2          NOX         PM10        PM2.5
count    8660.000000  8660.000000  8660.000000  8657.000000  5933.000000
mean       15.045115    38.010185    61.078661    22.551704    14.999831
std        26.678565    18.580841    54.584805    15.344755    13.558588
min        -2.000000     2.800000     1.000000    -5.600000    -8.000000
25%         3.100000    23.800000    30.300000    13.900000     7.000000
50%         7.100000    35.300000    46.900000    19.500000    11.000000
75%        15.500000    49.900000    73.800000    27.300000    18.000000
max       401.799990   120.200000   734.299990   633.099980   128.000000

7.	Dibuja un histograma para cada columna de `pvt_df`. ¿Qué contaminante tiene mayor variabilidad?

8.	Ejecuta el siguiente código y comenta qué hace cada línea:

In [ ]:
datetime_df = air_df.ReadingDateTime.str.split(' ',expand=True)
datetime_df.columns = ['Date','Time']
datetime_df
date_df = datetime_df.Date.str.split('/',expand=True)
date_df.columns = ['Day','Month','Year']
date_df
air_df = air_df.join(date_df).join(datetime_df.Time).drop(columns=['ReadingDateTime','Year'])
air_df = air_df.set_index(['Month','Day','Time','Species'])
air_df

9. Ejecuta la siguiente instrucción y compara su salida con la del código anterior (ejercicio 8). ¿Son iguales?

In [ ]:
air_df.unstack()

10.	Explica cuáles son las diferencias y similitudes entre el par `melt()/pivot()` y el par `stack()/unstack()`. Si tuvieras que elegir una contraparte para `melt()` entre `stack()/unstack()`, ¿cuál elegirías? ¿Por qué?